@keyframes ldio-6e731oxvt7 {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(180deg) }
    100% { transform: rotate(360deg) }
}
.ldio-6e731oxvt7 div {
    position: absolute;
    animation: ldio-6e731oxvt7 1s linear infinite;
    width: 155.2px;
    height: 155.2px;
    top: 19.4px;
    left: 19.4px;
    border-radius: 50%;
    box-shadow: 0 12.61px 0 0 #3c0f0f;
    transform-origin: 77.6px 83.905px;
}
.loadingio-spinner-eclipse-74w6ndo28dw {
    width: 194px;
    height: 194px;
    display: inline-block;
    overflow: hidden;
    background: #f1f2f3;
}
.ldio-6e731oxvt7 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-6e731oxvt7 div { box-sizing: content-box; }